@import './reset';
@import './variables';

//functions are used to return values/styles
@function weight($weight-name) {
    @return map-get($font-weights , $weight-name );
}

//mixins should define styles
// you can also pass an argument in mixin
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primary-color;
    font-weight: map-get($font-weights, medium);
    color: $text-color;
}

.main {
    @include flexCenter(row);
    width: 80% - 40%; //cant mix types; for eg: if it's px it needs to be pix
    margin: 0 auto;

    #{&}-paragraph1 {
        font-weight: weight(medium);
        color: $accent-color;

        &:hover {
            color: $text-color;
        }
    }

    #{&}-paragraph2 {
        //extension
        @extend .main-paragraph1;

        &:hover {
            color: $hover-color;
        }
    }

    @include mobile{
        flex-direction: column;
    }
}

// .light {
//     @include theme($light-theme, false);
// }